
body {
  background: blue;
  color: yellow;
}

main {
  max-width: 50em;
  border: 2px solid yellow;
  margin: 1em auto;
  padding: 1em;
}

footer {
  max-width: 50em;
  margin: 1em auto;
  padding: 0;
}
